<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <div class="login-id-label">Username</div>
    <label>
        <input type="text" name="username" required placeholder="Username" class="login-input-box">
    </label><br>
    <div class="login-id-label">Password</div>
    <label>
        <input type="password" name="password" required class="login-input-box">
    </label><br>
    <div class="login-id-label">Confirm Password</div>
    <label>
        <input type="password" name="checkpassword" required class="login-input-box">
    </label><br>
    <div class="login-id-label">E-mail</div>
    <label>
        <input type="email" name="email" required class="login-input-box">
    </label><br>
    <button type="button" onclick="requestEmailCode()">Request Email Code</button><br>
    <div class="login-id-label">Email Verification Code</div>
    <label>
        <input type="text" name="checkemail" required class="login-input-box">
    </label><br>
    <div>
        <input id="admin-check" type="checkbox" name="admin" onclick="onclickAdmin()" style="margin-top: 40px;"><label
            for="admin-check">관리자</label>
        <label for="admin-token"></label><input id="admin-token" type="password" name="adminToken" placeholder="관리자 암호" class="login-input-box" style="display:none">
    </div>

    <input type="button" value="Signup" onclick="submitSignup()">
    <button id="login-id-submit">회원 가입</button>
</form>
</body>
</html>